{% extends "recipes/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Sign Up</h2>
          <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">Create Your Account</legend>
              {{ form|crispy }}
            </fieldset>
            <div class="form-group py-3">
              <input class="btn btn-primary btn-block" type="submit" value="Sign Up" />
            </div>
          </form>
          <div class="border-top pt-3">
            <p class="text-center">
              <a class="text-muted" href="{% url 'user-login' %}">Already have an account? Log in.</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
